<!DOCTYPE html>
<html lang="jp">
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会員登録</title>
</head>
<body>
<form th:method="post" th:action="@{./}" th:object="${memberRegistForm}">
    <table>
        <tr>
            <td>
                <label>
                    氏名:<input type="text" th:field="*{memberName}"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    ふりがな:<input type="text" th:field="*{memberNameKana}"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>年齢：
                    <select id="memberAge" name="memberAge">
                            <option th:each="i : ${#numbers.sequence(0, 120)}" th:value="${i}" th:text="${i}"th:selected="${i==30}"></option>
                    </select>
                </label>
            </td>
        </tr>
    </table>
    <div>
        <input type="submit" value="送信"/>
    </div>
</form>
</body>
</html>
